.message {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 30px;
    font-family: var(--basic-font-family);;
    color: var(--color-primary);
}

.imageAndText {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    width: 100%;
    margin-bottom: 5px;
}

.imageAndText img {
    width: var(--avatar-size);
    height: var(--avatar-size);
}

.text {
    position: relative;
    max-width: calc(100% - (var(--avatar-size) + var(--message-text-indent)) * 2);
    margin-right: var(--message-text-indent);
    padding: 7px 13px 8px;
    border-radius: 10px;
    background-color: var(--bgc-primary);


}

.text:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -12px;
    border: 12px solid transparent;
    border-bottom-color: var(--bgc-primary);
    display: block;
    width: 0;
    height: 0;
}

.name {
    margin-bottom: 3px;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    text-align: right;
}

.messageText {
    font-family: var(--basic-font-family);;
    font-size: 16px;
    line-height: 19px;
    font-weight: 400;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.time {
    width: 26px;
    margin-left: auto;
    margin-right: 11px;
    color: var(--color-secondary);
    font-size: 10px;
    font-weight: 600;
    text-align: center;
}