.sendForm {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 44px;
    margin-top: 56px;
}

.textarea {
    flex-grow: 1;
    height: 40px !important;
    border-radius: 20px;
    padding: 11px 24px;
    resize: none;
    border: none;
    box-shadow:
        0 1px 2px 0 rgba(29, 33, 38, 0.1),
        0 5px 20px 0 rgba(29, 33, 38, 0.03);
    background-color: var(--bgc-secondary);
    font-family: var(--basic-font-family);
    font-size: 14px;
    line-height: 18px;
}

.textarea:focus {
    outline: none;
}

.button {
    height: 40px;
    width: 120px;
    border: 3px solid transparent;
    border-radius: 20px;
    background-color: var(--bgc-primary);
    color: var(--color-primary);
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition-duration: 150ms;
}

.button:hover {
    filter: brightness(127%);
}
.button:active {
    transform: scale(97%);
    border: 3px solid #003366;
}
