:root {
  --basic-font-family: 'Montserrat', sans-serif;
  --secondary-font-family: 'Roboto', sans-serif;

  --header-height: 60px;
  --chat-side-padding: 70px;
  --message-text-indent: 12px;
  --avatar-size: 48px;

  --color-primary: #ffffff;
  --color-secondary: #000000;
  --bgc-primary: #0066cc;
  --bgc-secondary: #f5f7fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
